Django==5.1.15
djangorestframework==3.15.2
djangorestframework-simplejwt==5.4.0
psycopg2-binary==2.9.10
python-decouple==3.8
django-cors-headers==4.6.0
Pillow==11.3.0
reportlab==4.2.5
openpyxl==3.1.5
django-filter==24.3
gunicorn==23.0.0
drf-spectacular